body{
    background-color: rgb(218, 241, 236);
    text-align: center;
}
.logo{
    position: relative;
    width: 299px;
    margin-top: 10px;
}
.imagem{
    position: relative;
    margin: 20px;
    height: 25px;
}
.referencia{
    position: relative;
    height: 25px;
}
.rodape{
        background-color: orange;
        border-radius: 5px;
        border-width: 0.7px;
        border-style: solid;
        border-color: #000;
        height: auto;
}
